:root {
  --brand50: #efe6ff;
  --brand100: #ccb8fd;
  --brand200: #aa8af7;
  --brand300: #895bf1;
  --brand400: #7540ee;
  --brand500: #4d13d3;
  --brand600: #3c0ea5;
  --brand700: #2a0977;
  --brand800: #190549;
  --brand900: #0b001d;
}

#root {
  margin: 0;
  height: 100vh;
}

.flex-screen {
  display: flex;
  height: 100%;
}

.instructions {
  border-radius: 0.5rem;
  color: white;
  background-color: var(--brand400);
  padding: 1em;
  text-align: left;
}

.offscreen {
  display: none;
}

.inside-editor {
  height: calc(100vh - 60px - 40px - 50px - 56px);
  overflow-y: auto;
}

.resize-handle {
  display: block;
  position: absolute;
  cursor: col-resize;
  width: 7px;
  right: 0;
  top: 0;
  z-index: 1;
  border-right: 2px solid transparent;
}

.chakra-accordion__panel {
  -webkit-padding-end: 0 !important;
  padding-inline-end: 0 !important;
}

#input-tags {
  z-index: 5;
}

.chakra-modal__content-container,
.chakra-modal__overlay {
  z-index: 10000 !important;
}

.resizer {
  /* Displayed at the right side of column */
  /* visibility: hidden; */
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  background-color: var(--brand100);
  z-index: 3;
  cursor: col-resize;
  user-select: none;
}
.resizer:hover {
  /* visibility: visible; */
  opacity: 1;
}

#structure-grid-item,
#search-box-grid-item {
  min-width: 380px;
}

/* #structure-grid-item,
#search-box-grid-item,
#editor-grid-item,
#info-grid-item {
  overflow: auto;
} */

.node-container,
.node-content {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

.node-content {
  cursor: pointer;
}

.node-content span.arrow {
  width: 20px;
  font-size: 20px;
  display: flex;
  margin-right: 5px;
}
/* 
.node-content span.file-folder-icon {
  margin-right: 7px;
  display: flex;
  align-items: center;
  font-size: 20px;
} */

.node-content span.node-text {
  flex: 1;
}

.node-content input[type="text"] {
  padding: 0px 10px;
  outline-color: var(--brand300);
  color: black;
  border-radius: 2px;
}

.file-actions {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.node-container .file-actions {
  visibility: hidden;
}
.node-container:hover .file-actions {
  visibility: visible;
}

.hide {
  display: none;
}

[role="treeitem"]:hover {
  background-color: var(--brand50);
}

[role="treeitem"]:focus-within {
  background-color: var(--brand100);
  outline: none;
}

/* Selected node */

.node-container.is-selected {
  background: var(--brand50);
  color: var(--brand600);
  border-radius: 0;
  border-top: #ccb8fd solid 1px;
  border-bottom: #ccb8fd solid 1px;
}

.full-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all;
  transition-duration: 300ms;
}

.full-screen .inside-editor {
  height: calc(100vh - 40px - 50px - 56px);
}

.shared-view .inside-editor {
  height: 100%;
}

.shared-view {
  height: calc(100vh - 48px);
}
