:root {
  --brand50: #efe6ff;
  --brand100: #ccb8fd;
  --brand200: #aa8af7;
  --brand300: #895bf1;
  --brand400: #7540ee;
  --brand500: #4d13d3;
  --brand600: #3c0ea5;
  --brand700: #2a0977;
  --brand800: #190549;
  --brand900: #0b001d;
}

#root {
  margin: 0;
  height: 100vh;
}

.flex-screen {
  display: flex;
  height: 100%;
}

.instructions {
  border-radius: 0.5rem;
  color: white;
  background-color: var(--brand400);
  padding: 1em;
  text-align: left;
}

.offscreen {
  display: none;
}

.inside-editor {
  /* padding-left: 3em; */
  height: calc(100vh - 120px - 65px - 60px);
  overflow-y: auto;
  /* position: relative; */
}

.resize-handle {
  display: block;
  position: absolute;
  cursor: col-resize;
  width: 7px;
  right: 0;
  top: 0;
  z-index: 1;
  border-right: 2px solid transparent;
}

.chakra-accordion__panel {
  -webkit-padding-end: 0 !important;
  padding-inline-end: 0 !important;
}

#input-tags {
  z-index: 5;
}

/* #structure-grid-item {
  resize: horizontal;
  background: #ffd166;
} */
