@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a {
  text-decoration: none;
}

.prose a,
.prose code:after,
.prose code:before {
  --tw-text-opacity: 1;
  color: hsl(211 100% 43.2% / var(--tw-text-opacity));
}

.prose code[data-lexical-text] {
  font-family: var(--font-ibm-plex-mono);
  font-size: inherit;
  font-weight: inherit;
}
.prose code {
  --tw-bg-opacity: 1;
  background-color: hsl(210 16.7% 97.6% / var(--tw-bg-opacity));
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  --tw-text-opacity: 1;
  color: hsl(322 75% 46% / var(--tw-text-opacity));
}
